<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134249128260-96jnaqm2dkag9c5te8tr61ujov7e36at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134249128260-96jnaqm2dkag9c5te8tr61ujov7e36at</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>134249128260-tfgmdl4hre00oj1rq410ke2m1e5odbpb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDslmZBCqo9-Z0uRBPeyS1LP9HdsKaXo_c</string>
	<key>GCM_SENDER_ID</key>
	<string>134249128260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.afgod-95.NeuraChat</string>
	<key>PROJECT_ID</key>
	<string>neurachat-5c8c2</string>
	<key>STORAGE_BUCKET</key>
	<string>neurachat-5c8c2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134249128260:ios:ce32c94cd9895df0cf3711</string>
</dict>
</plist>